<h1>Renert choice friday E-sheet - Admin</h1>

<h2>Table maintenance</h2>
<%= link_to 'Students', controller: 'students' %>
<%= link_to 'Parents', controller: 'parents' %>
<%= link_to 'Teachers', controller: 'teachers' %>
<%= link_to 'Grades', controller: 'grades' %>
<%= link_to 'Divisions', controller: 'divisions' %>
<%= link_to 'Members', controller: 'members' %>